html,
body {
  /* margin-left: 50px;
  margin-right: 50px;
  margin-top: 0;
  margin-bottom: 0; */
}

:root {
  --screen-max: 1200px;
  --base-font: 'Montserrat', sans-serif;
  --base-font-Pridi: 'Pridi', sans-serif;

  --grey-light: #fefefe;
  --grey-dark: #696969;

  --font-color-dark: var(--grey-dark);
}

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-Light.ttf);
  font-weight: lighter;
}

@font-face {
  font-family: 'Pridi';
  src: url(../fonts/Pridi/Pridi-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: 'Pridi';
  src: url(../fonts/Pridi/Pridi-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: 'Pridi';
  src: url(../fonts/Pridi/Pridi-Light.ttf);
  font-weight: lighter;
}

body {
  font-family: var(--base-font);
  font-size: 100%;
  background: orange;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

html * {
  box-sizing: border-box;
}

header {
  position: relative;
  width: 100%;
  height: 45vw;
  background: lightgreen;
  overflow: hidden;
}

header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

main .inner-wrapper,
header .inner-wrapper,
footer .inner-wrapper {
  position: relative;
  max-width: var(--screen-max);
  margin: 0 auto;
}

header h1 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

main {
  flex: 1;
  background: lightgrey;
}

footer {
  background: #333;
  font-family: var(--base-font-Pridi);
  font-size: 100%;
  font-weight: lighter;
}

footer .footer-top {
  display: flex;
  /* padding-top: 20px;
  padding-bottom: 20px; */
}

footer .footer-bottom {
  display: flex;
  /* padding-top: 20px;
  padding-bottom: 20px; */
  font-family: var(--base-font);
  color: var(--grey-light);
  opacity: .1;
}

footer .footer-left {
  flex: 1;
}

footer .footer-right {
  flex: 1;
  text-align: right;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer .footer-right ul {
  text-align: right;
}

footer a {
  color: var(--grey-light);
  text-decoration: none;
  text-transform: uppercase;
}

/*
nav.footer-right {
  float: right;
  width: 50%;
}

nav.footer-left ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

nav.footer-right ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  text-align: right;
}

div.footer-bottom-left {
  float: left;
  width: 50%;
  }

div.footer-bottom-right {
  float: right;
  width: 50%;
  text-align: right;
  } */
