/* allgemeines */
:root {
  --color_font_grey: #535353;
}

/* Mobile first */
section.content-element {
  display: block;
  position: relative;
}

.content-element h2 {
  font-size: 1.2rem;
  /* rem ist in abhängigkeit von der Standardschriftgröße*/
  line-height: 1.2em;
  /*em ist abhängig von der oben verwendeten font-size*/
  font-family: var(--base-font-Pridi);
  font-weight: lighter;
  color: var(--color_font_grey);
}

.content-element p {
  padding-top: 0.5em;
  font-size: 0.7em;
  text-align: left;
}

/* erste Sektion: Malermeister */
.content-element .teaser {
  /* position: relative;
  background-position: center center;
  min-height: 35vw; */
  /* color: var(--color_font_grey); */
  display: block;
  align-items: center;
  justify-content: left;
}

.content-element .teaser img {

  position: relative;
  z-index: -1;
  width: 100%;
  height: auto;

  border: 2px solid black; /* nur zum Testen*/
}

@media screen and (min-width: 576px) {
  .content-element .teaser {
    display: flex;
    align-items: center;
    justify-content: left;
  }

  .content-element .teaser img {
    display: block;
    z-index: -1;
  }
}

.content-element .image_overlay {
  position: absolute;
  /* top: 0;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  background: rgba(255,100,0,0.4); */
}

.content-element .image_overlay::after {
  content: '';
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  background: rgba(255, 100, 0, 0.4);
}

.content-element .teaser_block1 {
  /* top: calc(-1 * var(--teaser_height_mobile) ); */
}

.content-element .button {
  display: inline-block;
  padding: 1em 2em;
  background-color: orange;
  border: none;
  color: white;
  text-decoration: none;
}

.content-element a.button:hover {
  opacity: .6;
}

.content-text img {
  display: block;
  margin: 1em 0;
  max-width: 100%;
}

.content-text_BRILLUX p {
  text-align: center;
}

.content-element .button_BRILLUX {
  display: inline-block;
  padding: 1em 2em;
  background-color: #00c4d3;
  border: none;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.content-element a.button_BRILLUX:hover {
  opacity: .6;
}

.content-element .teaser_leistung {
  height: var(--teaser_height_mobile);
  background-color: #004d53;
}

.content-element .button_Termin {
  display: inline-block;
  padding: 1em 2em;
  background-color: #ff6200;
  border: none;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.content-element a.button_Termin:hover {
  opacity: .6;
}

@media screen and (min-width: 576px) {
  .content-element h2 {
    font-size: 6.5vw;
    /* vw bedeutet viewport width ist also die größe des bildschirms*/
  }
}

/*
  section.content-element {
    padding-top: 5em;
  }

  .content-element h2 {
    font-size: 2em;
  }

  .content-element .teaser {
    display: flex;
   align-items: center;
   justify-content: left;
  }

  .content-element .teaser img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .content-element p {
    font-size: 100%;
    width: 60%;
  }
  .content-element img {
    width: 50%;
  }

  .content-element .teaser img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .content-element .image_overlay::after {
  }
  .content-element .teaser_block1 {
  }

  .content-element .teaser_leistung {
    height: var(--teaser_height_desktop);
}
} */
