section.content-element {
  display: block;
  position: relative;
  padding-top: 5em;
  padding-bottom: 5em;
}

.content-element h2 {
  font-family: var(--base-font-Pridi);
  font-size: 200%;
  font-weight: lighter;
}

.content-element .teaser {
  position: relative;

  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 15vw;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.content-element p {
  padding-top: 0.5em;
  /* padding-bottom: 0.5em; */
  /* font-size: 12px; */
  font-size: 80%;
  width: 100%;
  text-align: left;
}

.content-element .button {
  display: inline-block;
  padding: 1em 2em;
  background-color: orange;
  border: none;
  color: white;
  text-decoration: none;
}

.content-element a.button:hover {
  opacity: .6;
}

.content-text_BRILLUX p {
  text-align: center;
}

.content-element .button_BRILLUX {
  display: inline-block;
  padding: 1em 2em;
  background-color: #00c4d3;
  border: none;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.content-element a.button_BRILLUX:hover {
  opacity: .6;
}

.content-text img {
  display: block;
  margin: 1em 0;
}

.content-element .teaser_leistung {
    background-color: #004d53;
}

.content-element .button_Termin {
  display: inline-block;
  padding: 1em 2em;
  background-color: #ff6200;
  border: none;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.content-element a.button_Termin:hover {
  opacity: .6;
}

@media screen and (min-width: 576px) {
  .content-element .teaser {
    min-height: 30vw;
  }

  .content-element p {
    width: 60%;
  }
  .content-element img {
    width: 50%;
  }

}
