header#main-header {
  position: relative;
  width: 100%;
  height: 45vw;
  overflow: hidden;
}

header#main-header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

header#main-header .inner-wrapper,
.content-element .inner-wrapper,
footer .inner-wrapper {
  position: relative;
  max-width: var(--screen-max);
  margin: 0 auto;
}

header#main-header h1 {
  position: absolute;
  left: 0;
  bottom: 0;
  font-family: var(--base-font-Pridi);
  font-weight: lighter;
  font-size: 5vw;
  line-height: 1em;
  text-transform: uppercase;
  color: white;
}

@media screen and (min-width: 768px) {
  header#main-header {
    height: 30vw;
  }

}
