#burger {
  position: fixed;
  z-index: 100;
  top: 0;
  /* right: 1em; */
  right: 3vw;
  width: 2em;
  height: 2em;
  background-color: var(--grey-dark);
}

.box-shadow-menu {
  display: block;
  height: 100%;
  position: relative;
  padding-left: 0.5em;
}

.box-shadow-menu:before {
  content: "";
  position: absolute;
  top: 0.6em;
  width: 1em;
  height: 0.15em;
  background: white;
  box-shadow:
    0 0.25em 0 0 white,
    0 0.5em 0 0 white;
}

.box-shadow-menu:hover ul {
  visibility: visible;
}

nav.main-navigation ul {
  visibility: hidden;
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  flex-direction: column;
  width: 200px;
  float: right;
  top: 2em;
  position: relative;
}

nav.main-navigation ul li a {
  height: auto;
  display: block;
  background-color: var(--grey-dark);
  color: white;
  text-decoration: none;
  padding: 20px;
  /* font-size: 1em; */
  text-align: right;
  transition: all 0.3s ease;
  font-size: .5em;
}

/* nav > .close,
  nav a#nav-m:target {
    display: none;
  }

  nav a:target ~ ul,
  nav a:target ~ .close {
    display: inline-block;
  }

  nav a:target ~ .close {
    position: absolute;
    margin-left: -40px;
  } */
/* nav a:target ~ ul {
  visibility: hidden;
} */
.main-navigation:focus .main-navigation-ul {
    display: block;
}
.main-navigation-ul {
    position: absolute;
    z-index: 1;

    display: none;
}

nav.main-navigation ul li:hover a {
  background: black;
  color: #ccc;
}

/* nav.main-navigation ul li a:focus ul {
  display: none;
} */

@media screen and (min-width: 768px) {
  #burger {
    position: fixed;
    z-index: 100;
    top: 0;
    /* right: 3em; */
    width: 6em;
    height: 6em;
    background-color: var(--grey-dark);
  }

  .box-shadow-menu {
    position: relative;
    padding-left: 1.5em;
  }

  .box-shadow-menu:before {
    content: "";
    position: absolute;
    top: 1.6em;
    width: 3em;
    height: 0.5em;
    background: white;
    box-shadow:
      0 1em 0 0 white,
      0 2em 0 0 white;
  }

  nav.main-navigation ul {
    width: 200px;
    top: 6em;
  }

  nav.main-navigation ul li a {
    padding: 20px;
    font-size: 1em;
    transition: all 0.3s ease;
  }

}
