
.header {
  position: relative;
  color: white;
  height: 35vw;
}

.header>img {
  position: absolute;
  width: 100%;
  height: auto;
  /* object-fit: cover; */
}

.header-text {
  position: absolute;
      top: 16vw;
}

.header-add-img-1 {
  position: relative;
  float: right;
  right: 50px;
}
.header-add-img-text {
  position: absolute;
  left: 50px;
  top: 25px;
  color: black;
  font-weight: bold;
}
.header-add-img-2 {
  position: absolute;
  right:-50px;
  top:-10px;
}
