:root {
  /* --screen-max: 80vw; */
  --screen-max: 800px;
  --base-font: 'Montserrat', sans-serif;
  --base-font-Open_Sans: 'Open_Sans', sans-serif;
  --grey-light: #414141;
  --grey-dark: #202020;
  --font-color-dark: var(--grey-dark);
}

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-Light.ttf);
  font-weight: lighter;
}

@font-face {
  font-family: 'Open_Sans';
  src: url(../fonts/Open_Sans/OpenSans-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: 'Open_Sans';
  src: url(../fonts/Open_Sans/OpenSans-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: 'Open_Sans';
  src: url(../fonts/Open_Sans/OpenSans-Light.ttf);
  font-weight: lighter;
}

html * {
  box-sizing: border-box;
}

body {
  display: block;
  /* flex-direction: column; */
  font-family: var(--base-font-Open_Sans);
  font-size: 100%;
}

.top {
  display: flex;
  flex-direction: row;
}

.logo {
  float: left;
}

.navigation {
  float: right;
}

.navigation>ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.navigation>ul>li {
  padding: 1em;
  text-transform: uppercase;
}
.navigation>ul>li>a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.header {
  display: flex;
  color: white;
  min-height: 40vw;
}

.header>* {
  position: absolute;
  z-index: 10;
}

.header>div {
  top: 50px;
}

.header img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: bottom;
}

.teaser {
  display: block;
  position: relative;
  color: black;
  text-align: center;
}

.teaser h2 {
  text-transform: uppercase;
  font-size: 120%;
  font-weight: bold;
}

.teaser-area {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  justify-content: center;
  align-items: center;
}

.ta1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.ta2 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.ta3 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.ta4 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.ta5 {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.ta6 {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.galerie {
  padding-top: 20px;
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.galerie img {
  width: 100%;
  min-height: 100%;
}

.galerie .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  /* background-color: #008CBA; */
  background-color: rgba(255, 100, 0, 0.7);
}

.galerie-container:hover .galerie .overlay {
  opacity: 0.9;
}
/* .overlay:hover {
top: 0;
bottom: 0;
left: 0;
right: 0;
height: 100%;
width: 100%;
opacity: 0.5;
transition: .5s ease;
background-color: rgba(255, 100, 0, 0.7);
} */




.footer {
  padding-top: 10px;
  color: white;
  font-size: 60%;
  background-color: var(--grey-light);
}
.footer-content {
  padding-bottom: 10px;
display: grid;
grid-row-gap: 40px;
grid-template-columns: 2fr 1fr 2fr;
grid-template-areas:
'footer-content-1 . footer-content-3'
'footer-content-2 . .'
}
.footer-content-1 {
  grid-area: footer-content-1;
}
.footer-content-2 {
  grid-area: footer-content-2;
}
.footer-content-3 {
  grid-area: footer-content-3;
}
.footer-content-3 ul {
  list-style: none;
  text-align: right;
  margin: 0;
}
.footer a {
  color: white;
}
.footer-dark {
  background-color: var(--grey-dark);
  height: 4em;

  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer-dark-left {
  float: left;
}
.footer-dark-right {
  float: right;

}


.redtext {
  color: red !important;
}

.bold {
  font-weight: bold;
}

.smallfont {
  font-size: 80%;
}

.bigfont {
  font-size: 300%;
}

.innerwraper {
  position: relative;
  max-width: var(--screen-max);
  margin: 0 auto;
  width: 100%;
}

@media screen and (min-width: 768px) {}
