.top {
  display: flex;
  flex-direction: row;
}

.logo {
  float: left;
}

.navigation {
  float: right;
}

.navigation>ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.navigation>ul>li {
  padding: 1em;
  text-transform: uppercase;
}
.navigation>ul>li>a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}
