<!DOCTYPE html>
<html lang="de" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700" rel="stylesheet">

  <link rel="stylesheet" href="css/master.css">
  <link rel="stylesheet" href="css/nav.css">
  <link rel="stylesheet" href="css/header.css">
  <link rel="stylesheet" href="css/teaser.css">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/footer.css">
  <link rel="stylesheet" href="css/galerie.css">

  <title>Bakery - Galerie</title>
</head>

<body>

  <nav class="nav">
    <div class="innerwrapper">
      <div class="nav-container">
        <div class="logo">
          <a href="index.html"><img src="img/Logo-placeholder.png" alt="Logo"></a>
        </div>
        <div class="menu">
          <ul>
            <li><a href="index.html">Startseite</a></li>
            <li><a href="ueberuns.html">Über uns</a></li>
            <li><a href="team.html">Unser Team</a></li>
            <li><a href="galerie.html">Galerie</a></li>
            <li><a href="contact.html">Kontakt</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <header>
    <div class="header">
      <img src="img/pexels-photo-205961.jpeg" alt="Cupcakes">
    </div>
    <div class="innerwrapper">
      <div class="siegel">
        <img src="img/qualitaetssiegel-goldene-eichel_300.png" alt="Qualitätssiegel goldene Eichel">
      </div>
    </div>
  </header>

  <main class="main innerwrapper">
    <div class="gallery1">
      <h2>Galerie 1</h2>
      <div class="gridcontainer">
        <div class="col col1">
          <img src="img/320x230.png" alt="">
          <img src="img/480x800.png" alt="">
          <img src="img/320x230.png" alt="">
          <img src="img/320x230.png" alt="">
        </div>
        <div class="col col2">
          <img src="img/320x230.png" alt="">
          <img src="img/320x230.png" alt="">
          <img src="img/320x230.png" alt="">
          <img src="img/480x800.png" alt="">
        </div>
        <div class="col col3">
          <img src="img/480x800.png" alt="">
          <img src="img/320x230.png" alt="">
          <img src="img/480x800.png" alt="">
        </div>
        <div class="col col4">
          <img src="img/320x230.png" alt="">
          <img src="img/480x800.png" alt="">
          <img src="img/320x230.png" alt="">
          <img src="img/320x230.png" alt="">
        </div>
      </div>
    </div>

    <div class="gallery2">
      <h2>Torten</h2>
    </div>

    <div class="gallery3">
      <h2>Galerie 3</h2>
    </div>


  </main>


  <section class="footer">
    <div class="footer-light innerwrapper">
      <div class="footer-content">

        <div class="footer-content-2">
          Konditorei Bakery
          <br>
          John Doe
          <br>
          Uferweg 10
          <br>
          1001 Wien
          <br>
          +43 1 23456748
          <br>
          <a href="stammgast@mcdonalds.at">stammgast@mcdonalds.at</a>
        </div>
        <div class="footer-content-3">
          <ul>
            <li>
              <a href="ueberuns.html">Über uns</a>
            </li>
            <li>
              <a href="team.html">Unser Team</a>
            </li>
            <li>
              <a href="#">Gallerie</a>
            </li>
            <li>
              <a href="contact.html">Kontakt</a>
            </li>
            <li>
              <a href="#">Impressum</a>
            </li>
            <li>
              <a href="#">Datenschutz und Cookies</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-dark">
      <div class="innerwrapper">
        <div class="footer-dark-left">
          Copyright 2017 | John Doe
        </div>
        <div class="footer-dark-right">
          <a href="#">FACEBOOK</a> | <a href="#">YOUTUBE</a> | <a href="#">TWITTER</a>
        </div>
      </div>
    </div>

  </section>

</body>

</html>
