.footer {
  padding-top: 10px;
  color: grey;
  font-size: 60%;
  background-color: var(--grey-light);
}

.footer-content {
  padding-bottom: 10px;

  display: grid;
  grid-row-gap: 40px;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-areas:
    'footer-content-1 . footer-content-3'
    'footer-content-2 . .';
}

.footer-content-1 {
  grid-area: footer-content-1;
}

.footer-content-2 {
  grid-area: footer-content-2;
}

.footer-content-3 {
  grid-area: footer-content-3;
}

.footer-content-3 ul {
  list-style: none;
  text-align: right;
  margin: 0;
}

.footer a {
  color: grey;
}

.footer-dark {
  background-color: var(--grey-dark);
  height: 4em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-dark-left {
  float: left;
}

.footer-dark-right {
  float: right;
}
