[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-eye:before {
  content: "\e9ce";
  color: white;
  font-size: 150%;
}

.galerie {
  padding-top: 20px;
  display: grid;
  grid-template-columns: 1fr;
  /* grid-template-rows: 1fr 1fr; */
}

.galerie img {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  object-position: center;
}

.galerie-container {
  position: relative;
}

.galerie .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: crimson;
}
.overlay hr {
  width: 50%;
}
.galerie-container:hover .overlay {
  opacity: 0.95;
}

.galerie-text {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: white;
  border-bottom: 2xc solid white;
  text-decoration: none;
}

.line-pre {
  height: 0.5em;
}

.line {
  width: 60%;
  height: 0.5em;
  border-top: 2px solid white;
  /* top: 0.5em; */
}

@media screen and (min-width: 460px) {
  section.galerie {
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 1fr 1fr; */
  }
}

@media screen and (min-width: 960px) {
  section.galerie {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 1fr; */
  }
}
