.header {
  position: relative;
  color: white;
}

.header-background {
  position: relative;
  object-fit: cover;
}

.header-background>img {
  max-height: 60vh;
  transform: translateX(-33%);
}

.header-text {
  position: absolute;
  bottom: 50px;
}

.header-text-text {
  max-width: 100%;
}

.header-text>p {
  margin: 0 0 0 0;
  padding: 0;
}

.header-subbanner {
  position: relative;
}

.header-subbanner .header-subbanner-text {
  visibility: hidden;
}

@media screen and (min-width: 768px) {
  .header {
    padding-bottom: 40px;
  }

  .header-background>img {
    max-height:none;
    transform:none;
    width: 100%
  }

  .header-text-text {
    max-width: 80%;
  }

  .header-subbanner .header-subbanner-text {
    visibility: visible;
    width: 569px;
    height: 78px;
    background-image: url(../img/overlay-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    right: 0;
    color: black;
    transform: translateX(-50px);
  }

  .header-subbanner .header-subbanner-text p {
    text-align: left;
    margin-left: 5%;
    padding-top: 10px;
  }

  .header-subbanner .header-subbanner-img {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%) translateX(50px);
  }
}

@media screen and (min-width: 1024px) {
  .header {
    padding-bottom: 20px;
  }

  .header-text {
    bottom: 100px;
  }

  .header-text-text {
    max-width: 60%;
  }

  .header-subbanner .header-subbanner-text {
    transform: translateX(-50px) translateY(-50%);
  }
}
