div.float-left,
div.float-right
 {
  display:block;
}

div.float-left p,
div.float-right p {
  float: left;
  border: 2px solid;
  padding: 20px;
}

div.float-right p {
  float: right;
}

.clear {
  clear: both;
}
/* p {
  display: inline-block;
} */
