.gridcontainer {
  display: grid;
  grid-template-columns: repeat(1,1fr);
}

.col {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.col>img {
  width: 100%;
  margin: 5px;
}

@media screen and (min-width: 576px) {
  .gridcontainer {
  grid-template-columns: repeat(2,1fr);
}
}

@media screen and (min-width: 768px) {
  .gridcontainer {
  grid-template-columns: repeat(4,1fr);
}

}

@media screen and (min-width: 992px) {


}

@media screen and (min-width: 1200px) {}
