:root {
  --screen-max: 1200px;
}

html, body {
  margin: 0;
}

body {
  font-family: var(--base-font);
  font-size: 100%;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

html * {
  box-sizing: border-box;
}

main {
  flex: 1;
}

.content-element .inner-wrapper {
  position: relative;
  max-width: var(--screen-max);
  margin: 0 auto;
}

/* teaser */
.content-element .teaser {
  position: relative;
  background-size: cover;
  min-height: 35vw;
}

.content-element .teaser p {
  position: relative;
  z-index: 10;
}

.content-element .teaser img {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center bottom;
}

@media screen and (min-width: 576px) {
  .content-element h2.content-header {
    font-size: 3.5rem;
  }

  .content-element .teaser {
    display: flex;
    align-items: center;
    justify-content: left;
  }

  .content-element .teaser p,
  .content-element .content-text p {
    padding-right: 45%;
  }

  .content-element .teaser img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: -1;
  }
}
