.nav {
  position: relative;
  top: 0;
  width: 100%;
  z-index: 10;
}

.nav-container {
  padding: 5px 20px;
  background-color: var(--white);
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    'ga-logo  ga-menu';
}

.logo {
  grid-area: ga-logo;

  padding-top: 20px;
}

.logo img {
  width: 100px;
}

.menu {
  grid-area: ga-menu;
}

.menu ul {
  float: right;
  list-style: none;
  display: block;
  padding: 0;
}

.menu ul li {
  padding-left: 20px;
}

.menu ul li a {
  text-decoration: none;
  color: var(--grey);
}

@media screen and (min-width: 576px) {
  .nav {
    position: fixed;
  }

  .logo {
    padding-top:0   ;
  }
  .logo img {
    width: 200px;
  }

  .menu ul {
    display: flex;
  }
}

@media screen and (min-width: 768px) {}
