.team-grid-container {
  display: grid;
  /* grid-gap: 60px; */
  grid-template-columns: 1fr;
  grid-template-areas:
    'tga1'
    'tga2'
    'tga3'
    'tga4'
    'tga5'
    'tga6';
}

.team-text {
  font-weight: bold;
  color: var(--grey);
  /* line-height: 1.5em; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.team-left {
  text-align: left;
}

.team-right {
  text-align: right;
}

.team-img img {
  width: 100%;
}

.team-ga1 {
  grid-area: tga1;
}

.team-ga2 {
  grid-area: tga2;
}

.team-ga3 {
  grid-area: tga3;
}

.team-ga4 {
  grid-area: tga4;
}

.team-ga5 {
  grid-area: tga5;
}

.team-ga6 {
  grid-area: tga6;
}

@media screen and (min-width: 576px) {
  .team-grid-container {
    grid-gap: 60px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'tga1 tga2'
      'tga4 tga3'
      'tga5 tga6';
  }

  .team-text {
    line-height: 1.5em;
  }
}
