.teaser {
  padding-top: 20px;
  font-family: var(--base-font-Pridi);
}

.teaser-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.teaser-element {
  display: block;
  text-align: center;
  opacity: 0.5;
  width: 100%;
  border: 1px solid white;
}

.teaser-element h2 {
  width: 100%;
  margin: 0;
  padding: 15px;
  padding-top: 30px;
  text-transform: uppercase;
  color: #014d53;
  font-weight: lighter;
  line-height: 1em;
}

.teaser-element img {
  display: block;
  width: 100%;
  height: 100px;
  object-fit: cover;
  object-position: center;
  margin: 0;
}

.teaser-element p {
  width: 100%;
  padding: 10px;
  background-color: #014d53;
  margin: 0;
  /* margin-top: -10px; */
  /* warum muss das sein? --> img = inline --> display:block im img*/
}

.teaser-element {
  color: white;
  text-decoration: none;
  font-weight: normal;
  font-size: 1.2em;
}

.teaser-element:hover {
  opacity: 1;
  transition: all 0.5s ease;
}

@media screen and (min-width: 768px) {
  .teaser .teaser-container {
    flex-direction: row;
  }

  .teaser-element img {
    height: auto;
  }
}

@media screen and (min-width: 1200px) {}
